.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl

    .widecolumn.fr
      #account
        %h3 Forgot your password? 
        %p
          Just enter your email and you'll receive a link to reset it.
        .cl
        = form_tag("/account/a0GU0000000c8xiMAA/details", :name => "form_details")
        %label
          %span
          Your email:
        %input.txt{:maxlength => 100, :name => "form_details[first_name__c]"}
        .cl
        %br
        #button-right.buttons
          %div{:style => "float:left;padding-right:10px;"}
            %a.button{:href => "#", :onclick => "document['form_details'].submit()"}
              %span Send me a new password




