.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl
      = render 'menu', :selected_item => "change_password"

    .widecolumn.fr
      #account
        %h3 Change your password 
        .cl
        = form_tag("/account/a0GU0000000c8xiMAA/details", :name => "form_details")
        %label
          %span
          Old password:
        %input.txt{:maxlength => 100, :name => "form_details[first_name__c]"}
        .cl
        %label
          %span
          New password:
        %input.txt{:maxlength => 100, :name => "form_details[first_name__c]"}
        .cl
        %label
          %span
          New password:
        %input.txt{:maxlength => 100, :name => "form_details[first_name__c]"}
        .cl
        %br
        #button-right.buttons
          %div{:style => "float:left;padding-right:10px;"}
            %a.button{:href => "#", :onclick => "document['form_details'].submit()"}
              %span Submit
          %div{:style => "float:left"}
            %a.button{:href => "/account/a0GU0000000c8xiMAA/details"}
              %span Cancel




